---
import Layout from "@/layouts/Layout.astro"
import Header from "@/components/Header.astro"

import Content from "@/components/Content"
---

<Layout>
  <main class="h-full">
    <Header />
    <Content client:load />
  </main>
</Layout>
