---
import { AudioLines } from "lucide-react"
---

<div class="bg-background/30 border-b border-dashed py-5 backdrop-blur-sm">
  <div class="mx-auto flex w-11/12 max-w-4xl gap-1">
    <AudioLines />
    <span>Sonic Wave AI</span>
  </div>
</div>
